{% comment %}<!--
Displays level1 page like:
 /community/remote-people
 /community/remote-companies

Arguments:
  page.permalink
-->{% endcomment %}
{% assign node1 = site.data.communitynav | where:"url", page.permalink  | first %}

<section class="hgroup">
    <div class="container">
        {% include community/l1-l2-header.html node=node1 %}

        <ul class="breadcrumb pull-right">
            <li><a href="{{ HOME_PATH }}">Home</a> </li>
            <li><a href="/community/">Community</a> </li>
            <li class="active">{{ node1.title }}</li>
        </ul>
    </div>
</section>

{% if site[node1.collection] %}
<section>
    <div class="container">
        <div class="row">

            {% assign node1_stories_sorted=site[node1.collection] | sort: 'order' | reverse %}



            <div id="leftcol" class="col-sm-8 col-md-8">

                <div class="row">
                    {% assign node2found=false %}

                    {% for node2 in node1.subnodes %}

                        {% assign nodeprint=nil %}
                        {% include community/node2_nodeprint.html
                            node1list=node1_stories_sorted node2check=node2 %}

                        {% if nodeprint!=nil %}
                            {% if forloop.first != true and node2found == true %}
                                &nbsp;
                            {% endif %}

                            {% if forloop.first != true and forloop.last != true and node2found == true %}
                                |&nbsp;&nbsp;
                            {% endif %}

                            {% include community/node2_in_list_short.html node=nodeprint %}
                            {% assign node2found=true %}
                        {% endif %}

                    {% endfor %}
                </div>
                <br/>
                <br/>

                {% for s in node1_stories_sorted %}
                    {% include community/story_in_list.html page=s %}
                {% endfor %}
            </div>

            <div id="sidebar" class="col-sm-4 col-md-4 hidden-xs">
                {% for node2 in node1.subnodes %}
                    {% assign nodeprint=nil %}
                    {% include community/node2_nodeprint.html
                        node1list=node1_stories_sorted node2check=node2 %}

                    {% if nodeprint!=nil %}

                        {% comment %}<!-- print the nodeprint -->{% endcomment %}
                        {% include community/node2_in_list.html node=nodeprint %}

                        {% comment %}<!-- print the articles/pages in nodeprint -->{% endcomment %}
                        {% for s in node1_stories_sorted %}
                            {% for tag in s.tags %}
                                {% if tag == nodeprint.title %}
                                    {% include community/story_in_list.html page=s %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        <br/>

                    {% endif %}

                {% endfor %}
            </div>

        </div>
    </div>
</section>
{% endif %}

