/*
 * Fix for "multi-line breadcrumb on narrow (400px) screen"
 * https://stackoverflow.com/questions/42239096/prevent-new-line-in-bootstrap4-apha6-breadcrumb/42239129#42239129
 */
.breadcrumb, .breadcrumb-item {
    white-space: nowrap;
}
.breadcrumb .breadcrumb-item {
    float: none;
}
.breadcrumb {
    text-overflow: clip;
    overflow: hidden;
}

/***/
div#alertJsID{
    display: none;
}

.smalltext {
    font-size: 12px;
    font-weight: 300;
}

.normaltext {
    font-size: 14px;
}

div.row {
    margin-left: 0;
    margin-right: 0;
}

/* background on the home page */
@media screen and (min-width: 768px) {
    section.call_to_action {
        background-image: url(/assets/svg/background1-15_opt.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
}

/* features on the home page */
div.homepage-f1 {
    background-image: url(/assets/svg/f_prefiltered_v2_min.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

div.homepage-f2 {
    background-image: url(/assets/svg/f_categorized_1_v2_min.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

div.homepage-f3 {
    background-image: url(/assets/svg/f_one_place_min.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

/* Search Filters */

.search-bar {
    margin-bottom: 5px;
}
.dropdown-fields {
    padding-left: 12px;
    width: 280px;
}
.btn-group, .input-group {
    margin: 2px;
}

/*** email-subscribe button and social networks (top right side)***/
.soc-netw-span {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
    color: #555;
    text-align: left;
}

@media (min-width: 992px) {
    .soc-netw-span i{
        font-size: 1.3333333333333333em;
        line-height: 0.75em;
    }
    #id-main-container {
        padding-bottom: 25px;
    }
}
@media (max-width: 768px) {
    #id-main-container {
        padding-bottom: 34px;
    }
}

/*** email-subscribe dialogs ***/
.badge-left {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #999;
    border-radius: 10px;
    float: none;
}

/* email subscription dialogs */

@media only screen and (max-width: 480px) {
    .xs-no-padding-left{
        padding-left: 0px;
    }
    .xs-no-padding-right{
        padding-right: 0px;
    }
    .navbar a.navbar-brand {
        width: 150px;
    }
}



@media (min-width: 481px) {
    .sm-width-2perc{
        width: 2%;
    }
}

.form-horizontal .control-label-sm {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
    padding-right: 5px;
    padding-left: 0px;
}

@media (min-width: 768px) {
    div.side_image_weekly_0 {
        background-image: url(/assets/svg/email-weekly-0.plain.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        text-align: center;
        width: 155px;
        height: 165px;
    }
}

@media (max-width: 768px) {
    div.side_image_weekly_0 {
        display: none;
    }
}

div.side_image_daily_0 {
    background-image: url(/assets/svg/email-daily-0.plain.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
}

div.side_image_daily_1 {
    background-image: url(/assets/svg/email-daily-1-half-half.plain.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
}

div.side_image_daily_2 {
    background-image: url(/assets/svg/email-daily-2-half.plain.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
}

div.side_image_daily_3 {
    background-image: url(/assets/svg/email-daily-3-half.plain.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
}

@media (min-width: 992px) {
    div.email-daily-subh {
        text-align: right;
    }
    div.side_image_daily_0 {
        width: 184px;
        height: 89px;
    }
    div.side_image_daily_1 {
        width: 184px;
        height: 68px;
        margin-top: -10px;
    }
    div.side_image_daily_2 {
        width: 184px;
        height: 51px;
        margin-top: -8px;
    }
    div.side_image_daily_3 {
        margin-top: -6px;
        width: 184px;
        height: 42px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    div.email-daily-subh {
        text-align: right;
    }

    div.side_image_daily_0 {
        width: 110px;
        height: 124px;
    }
    div.side_image_daily_1 {
        width: 140px;
        height: 69px;
    }
    div.side_image_daily_2 {
        width: 140px;
        height: 38px;
    }
    div.side_image_daily_3 {
        width: 140px;
        height: 30px;
    }
    .sm-no-padding-left{
        padding-left: 0px;
    }
    .sm-no-padding-right{
        padding-right: 0px;
    }

}

@media (max-width: 768px) {
    div.email-daily-subh {
        text-align: left;
    }

    div.side_image_daily_0 {
        display: none;
    }
    div.side_image_daily_1 {
        text-align: left;
        margin-left: 44px;
        width: 184px;
        height: 68px;
    }
    div.side_image_daily_2 {
        text-align: left;
        margin-left: 44px;
        width: 184px;
        height: 51px;
    }
    div.side_image_daily_3 {
        text-align: left;
        margin-left: 44px;
        width: 184px;
        height: 42px;
    }
}

@media (max-width: 480px) {
    div.side_image_daily_1 {
        margin-left: 8.33333333%;
    }
    div.side_image_daily_2 {
        margin-left: 8.33333333%;
    }
    div.side_image_daily_3 {
        margin-left: 8.33333333%;
    }
}
