/* Search Filters: checkbox and radiobutton Styling */

.dropdown-menu input[type="checkbox"],
.dropdown-menu input[type="radio"] {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    left: 20px;
}
.dropdown-menu input[type="checkbox"] + label,
.dropdown-menu input[type="radio"] + label {
    padding-left: 28px;
    margin: 2px 0;
}
.dropdown-menu input[type="checkbox"] + label:before {
    border-radius: 4px;
}
.dropdown-menu input[type="radio"] + label:before {
    border-radius: 50%;
}
.dropdown-menu input[type="checkbox"] + label:before,
.dropdown-menu input[type="radio"] + label:before {
    content: " ";
    position: absolute;
    height: 22px;
    width: 22px;
    left: 0;
    display: block;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .6) inset;
    border: 1px solid transparent;
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    transition-duration: 200ms;
}
.dropdown-menu input[type="checkbox"]:hover + label:before,
.dropdown-menu input[type="radio"]:hover + label:before {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .9) inset;
}
.dropdown-menu input[type="checkbox"]:checked + label:before,
.dropdown-menu input[type="radio"]:checked + label:before {
    box-shadow: 0 0 0 12px #428bca inset;
}

span#checkmark {
    position: absolute;
    width: 16px;
    font-size: 1.7em;
    overflow: hidden;
    display: block;
    background-position: 0 -24px;
    top: 6px;
    left: 3px;
}


.dropdown-menu input[type=radio]:checked+label:before {
    box-shadow: 0 0 0 6px #428bca inset,0 0 0 11px #fff inset;
}
.dropdown-menu input[type=checkbox]:focus:checked+label:before {
    box-shadow: 0 0 0 1px #428bca, 0 0 0 11px #428bca inset;
}
.dropdown-menu input[type=checkbox]:focus+label:before,
.dropdown-menu input[type=radio]:focus+label:before {
    box-shadow: 0 0 0 1px #428bca, 0 0 0 1px rgba(0,0,0,.9) inset;
}
.dropdown-menu input[type=radio]:focus:checked+label:before {
    box-shadow: 0 0 0 1px #428bca, 0 0 0 6px #428bca inset,0 0 0 11px #fff inset;
}


/* Search Filters: button styles for mobile screens */
@media (max-width: 480px) {
    .btn-div {
        width: 65%;
    }
}

@media (max-width: 410px) {
    .btn-div {
        width: 78%;
    }
    .btn-filter {
        text-align: left;
    }
}

/* Clear default button styles
Create custom navbar-like custom styles */
.btn-filter {
    border: 0;
    border-radius: 0;
    color: #555555;
}
.btn-filter:hover,
.btn-filter:focus,
.btn-filter:active,
.open > .dropdown-toggle.btn-filter {
    background-color: transparent;
    color: #000000;
}
.btn-filter:active {
    box-shadow: none;
}
.btn-div.open .dropdown-toggle {
    box-shadow: none;
}



