#table {
    table-layout: fixed;
}
#table td.crawled{
    width: 10%;
    padding: 20px 0px 20px 10px;
}

/* Table styling */
tr[data-index] {
    border: 1px solid #dddddd;
}
.table > tbody > tr > td {
    padding: 0;
}
.table > tbody > tr > td.spanLink {
    padding: 20px 0px 20px 20px;
}
.labelTag {
    background: #ffffff;
    color: #777777;
    border: 1px solid #dddddd;
    float: left;
    font-weight: normal;
    font-size: 12px;
    margin-right: 5px;
    margin-top: 7px;
    padding: 5px;

}

tr.detail-view {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}
.footer-row {
    margin-top: 20px;
}
.job-info {
    margin: 0;
}
.job-title {
    margin: 0;
    margin-bottom: 2px;
}

.org-info {
    display: inline-block;
    border-radius: .15em;
    padding: 2px 5px 2px 0px;
}


div.fixed-table-loading{
    display: none; !important;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: none;
}

tr.detail-view > td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.table > tbody > tr[id] > td {
    padding-top: 16px !important;
}

a.rowTitleClass:visited {
    color: #999999 !important;
}

a.detail-icon:visited{
    color: #999999 !important;
}

.highlight {
    padding: 9px 14px;
}

.crawledDate {
    padding-top: 10px;
}

@media only screen and (max-width: 480px) {

    div.job-table-container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #table td.spanLink {
        padding-left: 10px                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ;
        width: 83%;
    }
    #table td.detail-td{
        width: 7%;
        padding-right: 0px;
    }

    td a .fa-caret-right, td a .fa-caret-down {
        padding: 24px 6px 24px 4px;
        float: right;
    }

    .highlight {
        padding: 9px 0px;
    }

    .crawledDate {
        padding-top: 6px;
    }
}

@media only screen and (min-width: 481px) {
    #table td.spanLink{
        width: 84%;
    }
    #table td.detail-td{
        width: 6%;
    }
    td a .fa-caret-right, td a .fa-caret-down {
        padding: 24px 12px 24px 24px;
        float: right;
    }
}

/*** "Report/Flag this job buttons" ***/

.fa-flag-o:before {
    margin-right: 3px;
}

.page-jobad-modal-tell-more {
    display: flex;
    margin-bottom: 10px;
}

.page-jobad-modal-tell-more > div:first-child {
    margin-right: 20px;
}

.page-jobad-modal-tell-more > div:last-child span {
    font-size: larger;
    display: block;
}

.page-jobad-modal-tell-more label {
    font-weight: normal;
    cursor: pointer;
}





