div#alertJsID{
    display: none;
}

.smalltext {
    font-size: 12px;
    font-weight: 300;
}

.normaltext {
    font-size: 14px;
}

div.row {
    margin-left: 0;
    margin-right: 0;
}

/* background on the home page */
@media screen and (min-width: 768px) {
    section.call_to_action {
        background-image: url(/assets/svg/background1-15_opt.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
}

/* features on the home page */
div.homepage-f1 {
    background-image: url(/assets/svg/f_prefiltered_v2_min.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

div.homepage-f2 {
    background-image: url(/assets/svg/f_categorized_1_v2_min.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

div.homepage-f3 {
    background-image: url(/assets/svg/f_one_place_min.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

/* Search Filters */

.search-bar {
    margin-bottom: 5px;
}
.dropdown-fields {
    padding-left: 12px;
    width: 280px;
}
.btn-group, .input-group {
    margin: 2px;
}



/*** email-subscribe dialogs ***/
.badge-left {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #999;
    border-radius: 10px;
    float: none;
}

@media only screen and (max-width: 480px) {
    .xs-no-padding-left{
        padding-left: 0px;
    }
    .xs-no-padding-right{
        padding-right: 0px;
    }
    .navbar a.navbar-brand {
        width: 150px;
    }

}
@media (min-width: 481px) {
    .sm-width-2perc{
        width: 2%;
    }
}

.form-horizontal .control-label-sm {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
    padding-right: 5px;
    padding-left: 0px;
}


div.side_image_daily_1 {
    background-image: url(https://via.placeholder.com/184x116);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    height: 116px;
}

div.side_image_daily_2 {
    background-image: url(https://via.placeholder.com/184x304);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    height: 330px;
}
