{% include compute_thisnodes %}

{% assign datafile = thisnodes[0].datafile %}
{% assign jobadlist = site.data[datafile].items %}
<section class="hgroup">
    <div class="container" id="filter-container">
        <div class="row search-bar">

          <div class="col-lg-6 col-md-5 col-sm-4 col-xs-12">
            <form id="jobSearchForm">
              <div class="input-group">
                  <label class="sr-only" for="jobSearchInputID">Search</label>
                  <input type="search" class="form-control" id="jobSearchInputID" placeholder="Search">
                  <span class="input-group-btn" id="jobSearchGroup">
                     <button type="submit" class="btn btn-default btn-primary" id="jobSearchButton">
                         <i class="fa fa-search"></i>
                     </button>
                  </span>
              </div>
            </form>
          </div>

          <div class="col-lg-6 col-md-7 col-sm-8 col-xs-12">

            <div class="btn-group btn-div">
                <button class="btn btn-default dropdown-toggle btn-filter btn-block" type="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span id="btn-tz">TZ: Worldwide</span>
                  <span class="caret"></span>
                </button>
                <div class="dropdown-menu">
                  <fieldset class="dropdown-fields">
                    <div class="radio">
                      <input type="radio" id="checkboxWorldwide" class="filter-checkbox"
                            name="optradio" checked="" data-filter="all">
                      <label for="checkboxWorldwide">Show jobs worldwide</label>
                    </div>
                    <div class="checkbox">
                      <input type="checkbox" id="checkboxUStz" class="filter-checkbox">
                      <label for="checkboxUStz">
                        Show jobs in America timezones
                        <span class="fa fa-check_icon_2" id="checkmark"></span>
                      </label>
                    </div>
                    <div class="checkbox">
                      <input type="checkbox" id="checkboxEUtz" class="filter-checkbox">
                      <label for="checkboxEUtz">
                        Show jobs in European timezones
                        <span class="fa fa-check_icon_2" id="checkmark"></span>
                      </label>
                    </div>
                    <div class="checkbox">
                      <input type="checkbox" id="checkboxASIAtz" class="filter-checkbox">
                      <label for="checkboxASIAtz">
                        Show jobs in Asia\Pacific timezones
                        <span class="fa fa-check_icon_2" id="checkmark"></span>
                      </label>
                    </div>
                  </fieldset>
                </div>
              </div>

            <!-- <div class="btn-group btn-div">
              <button class="btn btn-default dropdown-toggle btn-filter btn-block" type="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="btn-auth">Work auth:</span>
                <span class="caret"></span>
              </button>
              <div class="dropdown-menu">
                <fieldset class="dropdown-fields">
                    <div class="checkbox">
                      <input type="checkbox" id="checkboxUSauth" aria-describedby="help50workauth" class="filter-checkbox">
                      <label for="checkboxUSauth">
                        Hide jobs requiring US work authorization
                        <span class="fa fa-check_icon_2" id="checkmark"></span>
                      </label>
                    </div>
                    <div class="checkbox">
                      <input type="checkbox" id="checkboxEUauth" aria-describedby="help50workauth" class="filter-checkbox">
                      <label for="checkboxEUauth">
                        Hide jobs requiring EU work authorization
                        <span class="fa fa-check_icon_2" id="checkmark"></span>
                      </label>
                    </div>
                    <span id="help50workauth" class="help-block filterTip smalltext">Some jobs require that you "..must be GCH(Green Card Holder).." In
                        case you have no such authorization - you can hide such jobs</span>
                </fieldset>
              </div>
            </div> -->

            <div class="btn-group btn-div">
              <button class="btn btn-default dropdown-toggle btn-filter btn-block" type="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span  id="btn-remote">Remoteness: 100% remote</span>
                <span class="caret"></span>
              </button>
              <div class="dropdown-menu">
                <fieldset class="dropdown-fields">
                    <div class="checkbox">
                      <input type="checkbox" id="checkbox50remote" aria-describedby="help50remote" class="filter-checkbox">
                      <label for="checkbox50remote">
                        Show 50% remote jobs
                        <span class="fa fa-check_icon_2" id="checkmark"></span>
                      </label>
                    </div>
                    <span id="help50remote" class="help-block filterTip smalltext">Some job descriptions mention "remote working days" or "occasional
                        remote working". This is a clear indicator that you can not work remote from
                        anywhere. <a href="/faq/2018/04/25/what-does-a-50-percent-remote-job-mean">We name such jobs "50% remote"</a>.</span>
                </fieldset>
              </div>
              </div>
          </div>

        </div>

    </div>
</section>

<section>
    <div class="container">
        <div>
            <div id="loaderID" class="loader">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-1 col-xs-offset-5">
                            <div class="center-block">
                                <i class=" center-block fa fa-cog fa-spin fa-3x fa-fw"></i>
                                <span class="center-block sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <table id="table"></table>
            <div class="clearfix"></div>
            <div id="alertCanNotLoadID" class="alert alert-danger" role="alert" style="display: none">Error!</div>
            <div id="alertJsID" class="alertJs alert alert-danger" role="alert">
                Oh snap! You need JS enabled to be able to see this table!
            </div>
        </div>

        <script>
            var json_data = [];
            var dataFileName;
            dataFileName = '{{ datafile }}';
        </script>
        <script src="/assets/lunr.js"></script>
        <noscript>
            <style>
                #table {
                    display: none;
                }
                div#alertJsID {
                    display: block;!important;
                }
            </style>
        </noscript>
    </div>

</section>
