div#alertJsID{
    display: none;
}

div.fixed-table-loading{
    display: none; !important;
}

.smalltext {
    font-size: 12px;
    font-weight: 300;
}

.normaltext {
    font-size: 14px;
}

.labelTag {
    background: transparent;
    color: #6f6f6f;
    border: 1px solid #dddddd;
    float: left;
    font-weight: normal;
    font-size: 12px;
    margin-right: 5px;
    margin-top: 3px;
    padding-right: 4px;
    padding-left: 4px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: none;
}

tr.detail-view > td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.table > tbody > tr[id] > td {
    padding-top: 16px !important;
}

.highlight {
    padding: 9px 14px;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
}

div.row {
    margin-left: 0;
    margin-right: 0;
}

tr[data-index] {
    background-color: #f5f5f5;
}

a.rowTitleClass:visited {
    color: #999999 !important;
}

a.detail-icon:visited{
    color: #999999 !important;
}

@media only screen and (max-width: 480px) {

    #table {
        margin-left: -20px !important;
        margin-right: -20px !important;
    }

    #table > tbody > tr[data-index] > td.spanLink:nth-child(1) {
        padding-right: 0 !important;
        width: 65% !important;
    }

    #table > tbody > tr[data-index] > td.spanLink:nth-child(2) {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

}