---
layout: default
---
{% include JB/setup %}

<section class="call_to_action" style="margin-top: -24px;">
  <div class="container">
    <div class="text">
      <h3 style="color: #428bca;"><strong>an aggregator for remote jobs</strong></h3>
      <h4>in tech and non-tech</h4>
      <a class="btn btn-primary btn-lg" href="#jobs">Find a remote job</a>
    </div>
  </div>
</section>

<section class="features_teasers_wrapper">
  <div class="container">
    <div class="row">
      <div class="feature_teaser col-sm-4 col-md-4">
          <object height="130px" width="80%" data="/assets/svg/f_prefiltered_v2_min.svg"></object>
          <h3>PRE-FILTERED 100% REMOTE JOBS</h3>
          <p>This site shows you only the jobs having phrases like <em>“team is entirely remote”</em> or <em>“work from whenever you want”</em> in the job description.
          </p>
          <p>Jobs saying something like <em>“remotely on Friday”</em> or <em>“occasional remote working”</em> are filtered out.
          </p>
      </div>
      <div class="feature_teaser col-sm-4 col-md-4">
          <object height="130px" width="80%" data="/assets/svg/f_categorized_1_min.svg"></object>
          <h3>JOB CLASSIFICATION</h3>
          <p>Correct job classification: for every remote role in a tech company this site offers a separate page. <strong>Developers:</strong> open a page listing remote jobs for your technology stack!</p>
      </div>
      <div class="feature_teaser col-sm-4 col-md-4">
        <object height="130px" width="80%" data="/assets/svg/f_one_place_min.svg"></object>
        <h3>EVERYTHING IN ONE PLACE</h3>
        <p>Remote jobs scattered across generic job sites, job boards for developers/designers and specialized remote job board. This site makes the process of finding a remote job easier.</p>
      </div>
    </div>
  </div>
</section>

<section class="hgroup">
    <div class="container" style="padding-top: 0px; border-bottom: none;">
        <div class="row">
            <div class="col-md-6">
                <a id="jobs"><h2 class="section_header elegant">{{ site.data.jobnav[site.jobnav_developers_node].title }}</h2></a>
                {% for node in site.data.jobnav[site.jobnav_developers_node].subnodes %}
                    <a href="{{ node.url }}"><i style="{{ node.img_style }}" class="{{ node.img }}"></i></a>
                    <strong><a href="{{ node.url }}">{{ node.home_title }}.</a></strong>
                    {{ node.tagline }}
                    <p style="line-height: 1;">&nbsp;</p>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <h2 class="section_header elegant">{{ site.data.jobnav[site.jobnav_tech_node].title }}</h2>
                {% for node in site.data.jobnav[site.jobnav_tech_node].subnodes %}
                    <a href="{{ node.url }}"><i style="{{ node.img_style }}" class="{{ node.img }}"></i></a>
                    <strong><a href="{{ node.url }}">{{ node.home_title }}.</a></strong>
                    {{ node.tagline }}
                    <p style="line-height: 1;">&nbsp;</p>
                {% endfor %}

                <h2 class="section_header elegant">{{ site.data.jobnav[site.jobnav_nontech_node].title }}</h2>
                {% for node in site.data.jobnav[site.jobnav_nontech_node].subnodes %}
                    <a href="{{ node.url }}"><i style="{{ node.img_style }}" class="{{ node.img }}"></i></a>
                    <strong><a href="{{ node.url }}">{{ node.home_title }}.</a></strong>
                    {{ node.tagline }}
                    <p style="line-height: 1;">&nbsp;</p>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
