---
layout: default
---
{% include JB/setup %}
<section class="hgroup">
    <div class="container" style="padding-top: 0px;">
        <div class="row">
            <div class="col-sm-8">
                <h1 style="color: #428bca;">AN AGGREGATOR FOR REMOTE JOBS<br/>
                    <small>in tech and non-tech</small></h1>
            </div>
            <div class="col-sm-4">
                <ul style="padding-left: 0px;">
                    <li>Only <a href="/faq/2018/04/22/what-does-a-100-percent-remote-job-mean">pre-filtered true remote jobs</a></li>
                    <li>Tech jobs categorized by technology stack and job title</li>
                    <li>Search 872 jobs <a href="/faq/2018/04/25/which-job-boards-are-aggregated">from 12 job boards</a> in one place</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="hgroup">
    <div class="container" style="padding-top: 0px; border-bottom: none;">
        <div class="row">
            <div class="col-md-4">
                <h2 class="section_header elegant">{{ site.data.jobnav[site.jobnav_developers_node].title }}</h2>
                <p></p>
                {% for node in site.data.jobnav[site.jobnav_developers_node].subnodes %}
                <p><a href="{{ node.url }}">{{ node.title }}</a> - {{ node.tagline }}
                </p>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <h2 class="section_header elegant">{{ site.data.jobnav[site.jobnav_tech_node].title }}</h2>
                {% for node in site.data.jobnav[site.jobnav_tech_node].subnodes %}
                <p><a href="{{ node.url }}">{{ node.title }}</a> - {{ node.tagline }}
                </p>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <h2 class="section_header elegant">{{ site.data.jobnav[site.jobnav_nontech_node].title }}</h2>
                {% for node in site.data.jobnav[site.jobnav_nontech_node].subnodes %}
                <p><a href="{{ node.url }}">{{ node.title }}</a> - {{ node.tagline }}
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
</section>


