<section class="hgroup">
    <div class="container">
        <h1 class="elegant">{{ page.title }}</h1>
        {% if page.tagline %}<h2>{{ page.tagline }}</h2>{% endif %}
        {% if page.undertagline %}<br><p>{{ page.undertagline }}</p>{% endif %}

        <ul class="breadcrumb pull-right">
            <li><a href="{{ HOME_PATH }}">Home</a> </li>
            {% if page.breadcrumb_title %}<li><a href="{{ page.breadcrumb_url }}">{{ page.breadcrumb_title }}</a></li>{% endif %}
            <li class="active">{{ page.title }}</li>
        </ul>
    </div>
</section>

<section>
    <div class="container">
{{ content }}
    </div>
</section>


