<!-- "subscribe to WEEKLY mail list" dialog -->
<div id="subscribe-weekly-modal-id" class="modal fade subscribe-weekly-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="week-maillist-name-id">Email list "<strong>Weekly</strong> {{ thisnodes[0].title }}"</h4>
            </div>
            <form id="form-subscribe-weekly-modal-id" class="form" method="get"
                  action="https://landing.mailerlite.com/webforms/landing/r2q9o2">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <img src="https://via.placeholder.com/155x150">
                        </div>
                        <div class="col-xs-8">
                            <p>
                                <span class="fa fa-check" style="color: #428bca;"></span> Every Saturday there will be an email with the list of <em>{{ thisnodes[0].title }}</em> that appeared on remote4me.com last <strong>week</strong>.
                            </p>
                            <p>
                                <span class="fa fa-check" style="color: #428bca;"></span> Unsubscribe any time: the unsubscribe link is in every email.
                            </p>
                            <p>
                                <span class="fa fa-check" style="color: #428bca;"></span> This email list sends you new job ads. Not for marketing/promotional purposes.
                            </p>
                            <br/>
                            <label for="week-input-email-id" class="col-xs-2 control-label">Email</label>
                            <input type="email" required name="fields[email]" class="form-control" id="week-input-email-id" placeholder="you@youremail.com">

                            <input type="hidden" name="groups[]" value="{{ thisnodes[0].mailGroupWeek }}" checked="checked">
                            <input type="hidden" name="ml-submit" value="1">
                            <input type="hidden" name="ajax" value="1">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- "subscribe to DAILY mail list" dialog -->
<div id="subscribe-daily-modal-id" class="modal fade subscribe-daily-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="day-maillist-name-id">Email list "<strong>Daily</strong> {{ thisnodes[0].title }}"</h4>
            </div>
            <form id="form-subscribe-daily-modal-id" class="form-horizontal" method="get"
                  action="https://landing.mailerlite.com/webforms/landing/r2q9o2">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 xs-no-padding-left xs-no-padding-right">
                            <div class="side_image_daily_1 center-block"></div>
                        </div>
                        <div class="col-xs-12 col-sm-9 xs-no-padding-left xs-no-padding-right">
                            <p>
                                <span class="fa fa-check" style="color: #428bca;"></span> Every evening (21:00 EST) you will get an email with the list of <em>{{ thisnodes[0].title }}</em> that appeared on remote4me.com during the <strong>day</strong>.<br/>
                                <span class="fa fa-check" style="color: #428bca;"></span> Unsubscribe any time: the unsubscribe link is in every email.<br/>
                                <span class="fa fa-check" style="color: #428bca;"></span> This email list sends you new job ads. Not for marketing/promotional purposes.<br/>
                            </p>
                            <div class="form-group">
                                <label class="col-xs-4 control-label-sm" for="day-input-email-id" >Email:</label>
                                <div class="col-xs-8 xs-no-padding-left">
                                    <input type="email" required class="form-control" id="day-input-email-id" name="fields[email]" placeholder="you@youremail.com">
                                </div>
                            </div>
                        </div>

                    </div><!--row -->
                    <br/>

                    <div class="row">
                        <div class="col-xs-12 col-sm-3 xs-no-padding-left xs-no-padding-right">
                            <div class="side_image_daily_2 center-block"></div>
                        </div>
                        <div class="col-xs-12 col-sm-9 xs-no-padding-left xs-no-padding-right">
                            <b>Please help ME help YOU:</b> The remote4me.com site is a one-man show. I am working on adding new job boards, as well as
                            <a href="#" class="text-nowrap" data-container="#form-subscribe-daily-modal-id" data-placement="top" data-trigger="click hover focus" data-toggle="popover" data-html="true" data-content='Classifiers are putting jobs in the proper category. 4 classifiers are implemented at the moment:<br/> - remoteness classifier<br/> - profession classifier<br/> - tech stack classifier<br/> - time zone classifier<br/>' >improving the classifiers</a>.
                            I'm adding new features to this site. I'm also doing marketing. It eats a lot of time! So if YOU help me with marketing, then I have more time to work on
                            <a href="#" class="text-nowrap" data-container="#form-subscribe-daily-modal-id" data-placement="top" data-trigger="click hover focus" data-toggle="popover" data-html="true" data-content='New features in the pipeline:<br/> - new "work authorization" classifier<br/> - salary statistics<br/>'>new features</a>.
                            This is how you can help me:<br/><br/>
                            <div class="row">
                                <div class="col-xs-1 xs-no-padding-left sm-width-2perc" >
                                    <span class="badge-left no-padding-left" >1</span>
                                </div>
                                <div class="col-xs-11 xs-no-padding-left xs-no-padding-right" >
                                    Post a link to remote4me and say something about it on a prominent page on your site or blog or an online forum. Alternatively, post on your favorite social network:
                                    &nbsp;&#32;
                                    <a href="https://reddit.com/submit/?text={{ 'Write a few sentences...' | escape }}&url={{ site.production_url | escape }}{{ page.permalink | escape }}&title={{ thisnodes[0].title | escape }}"  target="_blank" aria-label="Share on Reddit"
                                       data-container="#form-subscribe-daily-modal-id" data-placement="top" data-trigger="hover focus" data-toggle="popover" data-content="Post on Reddit"
                                    >
                                        <i class="fa fa-border fa-reddit"></i>
                                    </a>
                                    &nbsp;&#32;
                                    <a href="https://twitter.com/intent/tweet/?text={% if page.title %}{{ page.title }}{% else %}{{ thisnodes[0].title }}{% endif %}&url={{ site.production_url | escape }}{{ page.permalink | escape }}" target="_blank" aria-label="Share on Twitter"
                                       data-container="#form-subscribe-daily-modal-id" data-placement="top" data-trigger="hover focus" data-toggle="popover" data-content="Tweet"
                                    >
                                        <i class="fa fa-border fa-twitter"></i>
                                    </a>
                                    &nbsp;&#32;
                                    <a href="https://facebook.com/sharer/sharer.php?display=popup&u={{ site.production_url | escape }}{{ page.permalink | escape }}" target="_blank" aria-label="Share on Facebook"
                                       data-container="#form-subscribe-daily-modal-id" data-placement="top" data-trigger="hover focus" data-toggle="popover" data-content="Post on Facebook"
                                    >
                                        <i class="fa fa-border fa-facebook-f"></i>
                                    </a>
                                    &nbsp;&#32;
                                    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.production_url | escape }}{{ page.permalink | escape }}&title={{ thisnodes[0].title }}&summary={{ 'Say something about it...' | escape }}" target="_blank" aria-label="Share on Linkedin"
                                       data-container="#form-subscribe-daily-modal-id" data-placement="top" data-trigger="hover focus" data-toggle="popover" data-content="Post on Linkedin"
                                    >
                                        <i class="fa fa-border fa-linkedin"></i>
                                    </a>
                                    &nbsp;&#32;
                                    (your post should be public).
                                    <!--
                                    <a href="#"><i class="fa fa-border fa-pinterest-p" target="_blank" aria-label=""></i></a>
                                    <a href="#" ><i class="fa fa-border fa-flipboard-brands" target="_blank" aria-label=""></i></a>
                                    <a href="#"><i class="fa fa-border fa-medium-m-brands" target="_blank" aria-label=""></i></a>
                                    -->

                                    <br/>
                                    <br/>
                                </div>
                                <div class="col-xs-1 xs-no-padding-left sm-width-2perc" >
                                    <span class="badge-left" >2</span>
                                </div>
                                <div class="col-xs-11 xs-no-padding-left xs-no-padding-right">
                                    Copy the link to your page/post (it is better to use a computer for copying).<br/>
                                    <br/>
                                </div>
                                <div class="col-xs-1 xs-no-padding-left sm-width-2perc" >
                                    <span class="badge-left" >3</span>
                                </div>
                                <div class="col-xs-11 xs-no-padding-left xs-no-padding-right">
                                    Paste the link to your page/post in the field below. One link is enough. After this, you'll get email updates for as long as you wish.
                                    <br/>
                                </div>
                            </div>

                            <br/>
                            <div class="form-group">
                                <label class="col-xs-4 control-label-sm" for="inputUrl4" >Page/post URL:</label>
                                <div class="col-xs-8 xs-no-padding-left">
                                    <input id="inputUrl4" type="url" required class="form-control" name="fields[url_promo]" placeholder="https://url-of-the-post" pattern="https?://.+" size="15">
                                </div>
                            </div>
                            <input type="hidden" name="groups[]" value="{{ thisnodes[0].mailGroupDay }}" checked="checked">
                            <input type="hidden" name="ml-submit" value="1">
                            <input type="hidden" name="ajax" value="1">

                            Thank you for helping make remote4me even more useful!

                        </div>
                    </div><!--row -->
                </div><!--modal body -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </div>
            </form>

        </div>
    </div>
</div>
