<!-- "subscribe to WEEKLY mail list" dialog -->
<div id="subscribe-weekly-modal-id" class="modal fade subscribe-weekly-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="week-maillist-name-id">Mail list "<strong>Weekly</strong> {{ thisnodes[0].title }}"</h4>
            </div>
            <form id="form-subscribe-weekly-modal-id" class="form" method="get"
                  action="https://landing.mailerlite.com/webforms/landing/r2q9o2">
                <div class="modal-body">
                    <p>
                        <span class="fa fa-check" style="color: #428bca;"></span> Every Saturday there will be an email with the list of <em>Remote frontend (JavaScript) jobs</em> appeared on remote4me.com last week.
                    </p>
                    <p>
                        <span class="fa fa-check" style="color: #428bca;"></span> Unsubscribe any time: the unsubscribe link is in every email.
                    </p>
                    <p>
                        <span class="fa fa-check" style="color: #428bca;"></span> This mail list is to send new job ads. Not for marketing/promotional purposes.
                    </p>
                    <br/>
                    <label for="week-input-email-id" class="col-sm-2 control-label">Email</label>
                    <input type="email" required name="fields[email]" class="form-control" id="week-input-email-id" placeholder="you@youremail.com">

                    <input type="hidden" name="groups[]" value="{{ thisnodes[0].mailGroupWeek }}" checked="checked">
                    <input type="hidden" name="ml-submit" value="1">
                    <input type="hidden" name="ajax" value="1">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- "subscribe to DAILY mail list" dialog -->
<div id="subscribe-daily-modal-id" class="modal fade subscribe-daily-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="day-maillist-name-id">Mail list "<strong>Daily</strong> {{ thisnodes[0].title }}"</h4>
            </div>
            <form id="form-subscribe-daily-modal-id" class="form" method="get"
                  action="https://landing.mailerlite.com/webforms/landing/r2q9o2">
                <div class="modal-body">
                    <div class="row">
                        <span class="fa fa-check" style="color: #428bca;"></span> Every evening (21:00 EST) there will be an email with the list of <em>Remote frontend (JavaScript) jobs</em> appeared on remote4me.com during the day.<br/>
                        <span class="fa fa-check" style="color: #428bca;"></span> Unsubscribe any time: the unsubscribe link is in every email.<br/>
                        <span class="fa fa-check" style="color: #428bca;"></span> This mail list is to send new job ads. Not for marketing/promotional purposes.<br/>

                        <div class="row">
                            <div class="col-md-8" >
                                <label for="day-input-email-id" class="col-sm-4 control-label" >Email:</label>
                                <input type="email" required class="form-control" id="day-input-email-id" name="fields[email]" placeholder="you@youremail.com">
                            </div>
                        </div><!--row -->
                    </div><!--row -->
                    <p>&nbsp;</p>
                    <div class="row">
                        <h4>A long text <s>that no one reads</s></h4>
                        <p>
                            The Remote4me is a one-man show. I am working on adding new job boards, on improving the classifiers (the "remoteness" classifier, the "profession" classifier, the "tech stack" classifier, just to name a few). I'm adding new features (like this mail list) to this site. And I'm doing marketing for Remote4me. And marketing eats a lot of time! So IF you help me with marketing THEN I have more time to work on new features (improved "time zone" classifier, new "work authorization" classifier etc).
                        </p>
                        <p>
                            How can you help with marketing for Remote4me:<br/>
                            <span class="fa fa-check" style="color: #428bca;"></span> Please link this site from a prominent page on your site or blog.<br/>
                            <span class="fa fa-check" style="color: #428bca;"></span> Alternatively, post on your favorite social network or online forum, and link back to this site.<br/>
                            <strong>Share the link to your post (the field below)</strong>.
                            One link is enough. After this, you'll get email updates for as long as you wish.
                        </p>
                        <div class="row">
                            <div class="col-md-8" >
                                <label for="inputUrl4" class="col-sm-12 control-label">A page/post/article URL:</label>
                                <input type="url" required class="form-control" name="fields[url_promo]" id="inputUrl4" placeholder="https://social-network.com/post-url" pattern="https?://.+" size="15">

                                <input type="hidden" name="groups[]" value="{{ thisnodes[0].mailGroupDay }}" checked="checked">
                                <input type="hidden" name="ml-submit" value="1">
                                <input type="hidden" name="ajax" value="1">

                            </div>
                        </div><!--row -->
                    </div><!--row -->
                </div><!--modal body -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </div>
            </form>

        </div>
    </div>
</div>
