{% assign thisnodes = site.data.jobnav | where:"url", page.permalink %}

{% capture difference %} {{ thisnodes | size | minus:1 }} {% endcapture %}
{% if difference contains '-' %}
  {% assign thisnodes = site.data.jobnav[site.jobnav_developers_node].subnodes | where:"url", page.permalink %}
{% endif %}

{% capture difference %} {{ thisnodes | size | minus:1 }} {% endcapture %}
{% if difference contains '-' %}
{% assign thisnodes = site.data.jobnav[site.jobnav_tech_node].subnodes | where:"url", page.permalink %}
{% endif %}

{% capture difference %} {{ thisnodes | size | minus:1 }} {% endcapture %}
{% if difference contains '-' %}
{% assign thisnodes = site.data.jobnav[site.jobnav_nontech_node].subnodes | where:"url", page.permalink %}
{% endif %}

<section class="hgroup">
  <div class="container">
    <h1 class="elegant">{{ thisnodes[0].title }}</h1>
    <ul class="breadcrumb pull-right">
      <li><a href="{{ HOME_PATH }}">Home</a> </li>
      <li class="active">{{ thisnodes[0].title }}</li>
    </ul>
  </div>
</section>
{{ content }}

