{% raw %}
<script id="detailFormatter" type="text/x-handlebars-template">
  <div class="detail-view">
    <td colspan="3"><span class="detailFooter"></span>
      <div class="detailContent">
        <div class="highlight">

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                {{{content}}}
            </div>
          </div>

          <div class="row footer-row">
                <div class="col-xs-6 col-sm-6">
                    <a href="{{{url}}}">View original job desription <i class="fa fa-external-link"
                                                                        aria-hidden="true"></i></a>
                </div>
                <div class="col-xs-6 col-sm-6 text-right">
                    <a href="#{{{id}}}">Get shareable link <i class="fa fa-link" aria-hidden="true"></i></a>
                </div>

            <span class="detailFooter">&nbsp;</span>

          </div>

          </div>
        </div>
      </div>
    </td>
  </div>
</script>
{% endraw %}
