<!-- Модальное окно подтверждения успешной отправки репорта -->
<div class="modal fade" id="reportthisjob-modal-success" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Thanks! We've received your feedback.</h4>
            </div>

            <div class="modal-body" id="reportthisjob-modal-body">

                You reported job "<b id="reportthisjob-modal-success-title"></b>"
                as <b id="reportthisjob-modal-success-tag"></b>
                <br><br>
                Your response will help us show you better jobs.

            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>
