<section class="hgroup">
  <div class="container">
    <h1 class="elegant">{{ page.title }}</h1>
    <h2>{% if page.tagline %}{{ page.tagline }}<br/>{% endif %}
      <small><span>{{ page.date | date_to_long_string }}</span>
      {% unless page.categories == empty %}
      &nbsp;&nbsp;<span>Under {% assign categories_list = page.categories %}{% include JB/categories_list %}</span>
      {% endunless %}
      </small>
    </h2>
    {% if page.undertagline %}
    <br>
    <p>{{ page.undertagline }}</p>
    {% endif %}

    <ul class="breadcrumb pull-right">
      <li><a href="{{ HOME_PATH }}">Home</a> </li>
      {% if page.breadcrumb_title %}<li><a href="{{ page.breadcrumb_url }}">{{ page.breadcrumb_title }}</a></li>{% endif %}
      <li class="active">{{ page.title }}</li>
    </ul>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div id="leftcol" class="col-sm-8 col-md-8">
        <article class="post">
          <div class="post_content">
            {{ content }}
          </div>
        </article>
      </div>

      <div id="sidebar" class="col-sm-4 col-md-4">
        {% unless page.tags == empty %}
        <aside class="widget">
          Tags:&nbsp;
          {% assign tags_list = page.tags %}
          {% include JB/tags_list %}
        </aside>
        {% endunless %}
      </div>

    </div>

  </div>
</section>

<!--
<div class="row post-full">
  <div class="col-md-12">
    <div class="date">
      <span>{{ page.date | date_to_long_string }}</span>
    </div>
    <div class="content">
      {{ content }}
    </div>

    {% unless page.categories == empty %}
      <ul class="tag_box inline">
        <li><i class="icon-folder-open"></i></li>
        {% assign categories_list = page.categories %}
        {% include JB/categories_list %}
      </ul>
    {% endunless %}

    {% unless page.tags == empty %}
      <ul class="tag_box inline">
        <li><i class="icon-tags"></i></li>
        {% assign tags_list = page.tags %}
        {% include JB/tags_list %}
      </ul>
    {% endunless %}

    <hr>
    
    <ul class="pagination">
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
    </ul>
    <hr>
  </div>
</div>
-->